{% extends 'base.html' %}
{% load bootstrap4 %}
{% block html_body %}

    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>로그인</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            {{ error }}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <form method="POST"  action=".">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}