.playlist {
    height: 100px;
    width: 300px;
    background-color: pink;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    vertical-align: middle;
}

#list {
    background-color: bisque;
    width: 600px;
    height: 500px;
}

#content {
     width: 600px
}

.form-select {
     width: auto; float: right
}

#selector {
    width: 100px;
    left: 720px;
    position: absolute;
}