<div id="popup_login" class="popupContainer" style="display:none;">
    <header class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="bi bi-x-lg"></i></span>
    </header>

    <section class="popupBody">
        <!-- Social Login -->

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form class="popuplogin_form" method="post" action="{% url 'user:popuplogin' %}">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                    <br>
                {% endfor %}

                <div class="action_btns">
                    <button type="button" class="btn btn_red" id="login_submit" style="width: 100%">Login</button>
                    <a href="{% url 'user:signup' %}?next={{ request.path }}"><button type="button" class="btn btn_red" id="signup_submit" style="width: 100%">Signup</button></a>
                </div>
            </form>
        </div>

        <!-- Register Form -->
    </section>

</div>