{% extends 'base.html' %}
{% load static %}

{% block html_head %}
    <link rel="stylesheet" href="{% static 'css/music_detail.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/video_leanmodal.js' %}"></script>

{% endblock %}

{% block html_body %}
    {% csrf_token %}
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <header>
        {% if user.is_authenticated %}
            <h3>로그인됨</h3>
        {% else %}
            <h3>로그인안됨</h3>
        {% endif %}
        <h3>{{ like }}</h3>
        <h3>{{ m_id }}</h3>
        <h3>{{ m_pk }}</h3>
    </header>

    <div id="player"></div>
    <div>
        <div>
            <label>곡제목: {{ videoTitle }}</label>
            {#             <button class="btn" style="color:cornflowerblue;"><i class="fa fa-thumbs-up">Like</i></button>#}

            {% if like %}
                <button class="btn" id="like_ico"><i class="fa fa-thumbs-up" data-val=1 style="color: cornflowerblue">Like</i>
                </button>
            {% else %}
                <button class="btn" id="like_ico"><i class="fa fa-thumbs-up" data-val=0 style="color:gray;">Unlike</i>
                </button>
            {% endif %}


            {% if request.user.is_authenticated %}
                <button class="btn" style="color:cornflowerblue;"><a id="modal_trigger" href='#show_playlist'><i
                        class="fa fa-list">Playlist</i></a></button>
            {% else %}
                {% comment %}로그인 하도록 유도{% endcomment %}
                <button class="btn" style="color:cornflowerblue;"><a id="modal_trigger" href='#popup_login'><i
                        class="fa fa-list">Playlist</i></a></button>

            {% endif %}
            <div class="row">
                <label>아티스트: {{ videoArtist }}</label>
            </div>

            {% include 'music_detail/popup_login.html' %}
            {% include 'music_detail/popup_playlist.html' %}

        </div>
    </div>

    <footer>하단</footer>
    <script>
        $(function (event) {
            window.addEventListener("beforeunload", function (e) {
                $.get('/music/music_like/',
                    {like_type: $('.fa-thumbs-up').attr("data-val"), m_id: {{m_id}}})
            })
        })
    </script>

    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: '{{videoId}}',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
        }

        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
    </script>
{% endblock %}
