{% extends 'base.html' %}
{% load static %}
{% block html_head %}
    <link rel="stylesheet" href="{% static 'css/music_detail.css' %}" xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>

{% endblock %}
{% block html_body %}
    {% csrf_token %}
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <header>상단</header>

    <div id="player"></div>
    <div>
        <div>
            <label>곡제목: </label>
            <input type="button" value="like">
            {% if request.user.is_authenticated %}
                <a id="modal_trigger" href="#show_playlist"><input type="button" value="playlist"></a>
            {% else %}
                {% comment %}로그인 하도록 유도{% endcomment %}
                <a id="modal_trigger" href='#popup_login'><input type="button" value="playlist"></a>
            {% endif %}
            <div class="row">
                <label>아티스트: </label>
                <label>발매일: </label>
                <label>소속사: </label>
            </div>

            <div id="popup_login" class="popupContainer" style="display:none;">
                <header class="popupHeader">
                    <span class="header_title">Login</span>
                    <span class="modal_close"><i class="bi bi-x-lg"></i></span>
                </header>

                <section class="popupBody">
                    <!-- Social Login -->

                    <!-- Username & Password Login form -->
                    <div class="user_login">
                        <form method="post" action="">
                            {% csrf_token %}
                            {% include "form_error.html" %}
                            <input type="hidden" name="next" value="{% url "music:music_video" videoId %}">
                            <label for="username">ID</label>
                            <input type="text" class="form-control" name="username" id="username"
                                   value="{{ form.username.value|default_if_none:'아이디' }}">
                            <br/>

                            <label for="password">PASSWORD</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   value="{{ form.password.value|default_if_none:'비밀번호' }}">
                            <br/>

                            <div class="action_btns">
                                <button type="submit" class="btn btn_red" style="width: 100%">Login</button>
                            </div>
                        </form>
                    </div>

                    <!-- Register Form -->
                </section>

            </div>
            <div id="show_playlist" class="popupContainer" style="display:none;">
                <header class="popupHeader">
                    <span class="header_title">재생목록</span>
                    <span class="modal_close"><i class="bi bi-x-lg"></i></span>
                    <span class="modal_add" id="modal_add"><i class="bi bi-plus-lg"> 추가</i></span>
                    {% comment %}<span class="modal_del"><i class="bi bi-dash-lg"> 삭제</i></span>{% endcomment %}
                </header>

                <section class="popupBody">
                    <div id="playlist">
                        {% for pl in play_list %}
                            <p>
                                <input type='checkbox' id='check_list{{ forloop.counter }}' name='check_list'
                                       value='{{ pl.pk }}' style="zoom:2.0"/>
                                <label for='check_list{{ forloop.counter }}'
                                       style="top: -3px; position: relative; font-size: 20pt">{{ pl.mp_name }}</label>
                            </p>
                        {% endfor %}
                    </div>
                </section>

                <footer class="popupFooter">
                    <span class="footer_title" style="cursor: pointer">재생목록 추가</span>
                    <div class="hidden_playlist" style="display: none">
                        <form>
                            <label>제목</label>
                            <input id="new_playlist" type="text"/>
                            <br/>

                            <div class="action_btns">
                                <div class="one_middle btn btn_red" id="add_list">추가</div>
                            </div>
                        </form>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <footer>하단</footer>
    <script>
        $("#modal_trigger").leanModal({
            top: 100,
            overlay: 0.5,
            closeButton: ".modal_close",
            addButton: ".modal_add",
        });

        function addlist() {
            $("#add_list").click(function () {
                var value = $('#new_playlist').val()
                console.log(value)
                var cnt = $('#playlist').children().length
                var cname = 'check_list' + String(cnt + 1)
                console.log(cname)
                var ptag = "<p>"
                ptag += `<input type="checkbox" id=${cname} name="check_list" value="new" sytle="zoom:2.0"/>`
                ptag += `<label for=${cname} style="top: -3px; position: relative; font-size: 20pt">${value}</label>`
                ptag += "</p>"
                $('#playlist').append(ptag)
                $('#new_playlist').val('')
                $(".hidden_playlist").hide();
                return false;
            });
        };

        function savelist() {
            $(document).on('click', '#modal_add', function () {
                var csrf_token = $('[name=csrfmiddlewaretoken]').val();
                var id = $('input:checkbox[name="check_list"]:checked').attr('id')

                $.ajax({
                    url: '{% url 'music:music_video' videoId %}',
                    type: 'post',
                    dataType: 'json',
                    headers: {
                        'X-CSRFToken': csrf_token
                    },
                    data: {
                        mp_name: $(`label[for=${id}]`).text(),
                        mp_key: $('input:checkbox[name="check_list"]:checked').val()
                    },
                    success: function (response) {
                        console.log(response.data)
                    },
                    error: function () {
                        console.log(response.data)
                    }
                })
            })
        };

        $(function (event) {
            // Calling Login Form
            $(".footer_title").click(function () {
                $(".hidden_playlist").show();
                return false;
            });
            $(function (event) {
                $(document).on('click', 'input[type="checkbox"][name="check_list"]', function (event) {
                    if ($(this).prop('checked')) {
                        $('input[type="checkbox"][name="check_list"]').prop('checked', false);
                        $(this).prop('checked', true);
                    }
                })
            });
            addlist()
            savelist()
        });
    </script>

    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

       function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: '{{ videoId }}',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
        }

        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
    </script>
{% endblock %}
