{% extends 'base.html' %}
{% load static %}
{% block html_head %}
    <link rel="stylesheet" href="{% static 'css/music_detail.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>

{% endblock %}
{% block html_body %}
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <header>상단</header>

    <div id="player"></div>
    <div>
        <div>
            <label>곡제목: </label>
            <input type="button" value="like">
            {% if user.is_authenticated %}
                <a id="modal_trigger" href="#modal"><input type="button" value="playlist"></a>
            {% else %}
                {% comment %}로그인 하도록 유도{% endcomment %}
                <a href='#popup1'><input type="button" value="playlist"></a>
            {% endif %}
            <div class="row">
                <label>아티스트: </label>
                <label>발매일: </label>
                <label>소속사: </label>
            </div>

            <div id="modal" class="popupContainer" style="display:none;">
                <header class="popupHeader">
                    <span class="header_title">재생목록</span>
                    <span class="modal_close"><i class="bi bi-x-lg"></i></span>
                    <span class="modal_add">&#43;추가</span>
                </header>
{% comment %}{% endcomment %}
                <section class="popupBody">
                    <div id="playlist">
                        {% for pl in play_list %}
                            <p>
                                <input type='checkbox' id='check_list{{ forloop.counter }}' name='check_list'
                                       value='{{ pl.myplaylist_fk_id }}' style="zoom:2.0"/>
                                <label for='check_list{{ forloop.counter }}'
                                       style="top: -3px; position: relative; font-size: 20pt">{{ pl.myplaylist_fk.mp_title }}</label>
                            </p>
                        {% endfor %}
                    </div>
                </section>

                <footer class="popupFooter">
                    <span class="footer_title" style="cursor: pointer">재생목록 추가</span>
                    <div class="hidden_playlist" style="display: none">
                        <form>
                            <label>이름</label>
                            <input id="new_playlist" type="text"/>
                            <br/>

                            <div class="action_btns">
                                <div class="one_middle btn btn_red" id="add_list">추가</div>
                            </div>
                        </form>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <footer>하단</footer>
    <script>
        $("#modal_trigger").leanModal({
            top: 100,
            overlay: 0.6,
            closeButton: ".modal_close"
        });

        $(function (event) {
            // Calling Login Form
            $(".footer_title").click(function () {
                $(".hidden_playlist").show();
                return false;
            });

            // Calling Register Form
            $("#add_list").click(function () {
                var value = $('#new_playlist').val()
                var cnt = $('#playlist').childElementCount
                var ptag = "<p>"
                ptag += "<input type='checkbox' id='check_list" + cnt + "' name='check_list' style=\"zoom:2.0\"/>"
                    + "<label for='check_list" + cnt + "'style=\"top: -3px; position: relative; font-size: 20pt\">" + value + "</label>"
                ptag += '</p>'
                $('#playlist').append(ptag)
                $(".hidden_playlist").hide();
                return false;
            });
        });
    </script>

    <script type="text/javascript">
        $(function (event) {
            $('input[type="checkbox"][name="check_list"]').on('click', function (event) {
                if ($(this).prop('checked')) {
                    $('input[type="checkbox"][name="check_list"]').prop('checked', false);
                    $(this).prop('checked', true);
                }
            })
        })
    </script>
    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: 'UCBkNpeyvBO2TdPGVC_PsPUA',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
        }

        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
    </script>
{% endblock %}
