{% extends 'base.html' %}

{% block html_head %}

<script src="static/js/index"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<link rel="stylesheet" href="static/css/style.css">

<style>
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
    body {
    -ms-overflow-style: none;
    z-index : 20;
    }


    body::-webkit-scrollbar{ display:none; }

</style>


{% endblock %}
{% block html_body %}




<body>




<form onsubmit="return false">
    <div class="col-sm-4">
        <input id='search_keyword' type='text' name='search' maxlength='100' value='' autocomplete='off'>
        <button class="" id="search_btn" style="background-color:black; border:none;">
            <img src="/static/search.png" width="13px"></button>
    </div>
</form>

<div style="padding-top: 30px; float: left;">
    <div class="selector" id="top100_btn" style="margin-bottom: 12px;"><a role="button">top100</a></div>
    <div class="selector" id="list_btn" style=""><a role="button">list</a></div>
</div>

<div id="content" style="overflow:scroll; background-color: white; width: 500px; height: 700px; float: left;" data-da="container">
    <div id="list" class="overflow-auto">




    </div>
</div>





</body>
{% endblock %}