{% extends 'base.html' %}

{% block html_head %}

    <script src="/static/js/music_list.js"></script>
    <script>
        function l_select(obj){
            if($(obj).val()=='l_like'){
                document.location.href = '/music/l_like'
            }
            else if($(obj).val()=='l_new'){
                document.location.href = '/music/l_new'
            }
        }
    </script>

{% endblock %}

{% block html_body %}

<script src="static/js/search.js"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<link rel="stylesheet" href="static/css/style.css">


<h1>just list</h1>

<div class="content login" style="color:white">
    {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'user:logout' %}">{{ user.username }} (로그아웃)</a>
    <a role="button" class="btn btn-outline-dark" href="music/{{ user.username }}">마이페이지</a>
        <div class="col">
                <a role="button" class="btn btn-outline-dark" href="{% url  'music:music_video' %}">8번페이지</a>
            </div>
    {% else %}
    <a class="nav-link" href="{% url 'user:login' %}">login</a>
    <a role="button" class="btn btn-outline-info" href="{% url 'user:signup' %}">join</a>
        <div class="col">
                <a role="button" class="btn btn-outline-dark" href="{% url  'music:music_video' %}">8번페이지</a>
            </div>
    {% endif %}
</div>

<div class="col-sm-4">
    <input id='search_keyword' type='text' name='search' maxlength='100' value='' autocomplete='off'>
    <button class="btn btn-outline-secondary" id="search_btn">검색</button>
</div>


        <div id="content">
            <div id="list" style="overflow:scroll; background-color: white; width: 500px; height: 700px; float: left;" class="overflow-auto">
                <select onchange='l_select(this)' name="l_select" class="form-select" style="width: auto;">
                    <optgroup label="순서">
                        {% if select == 'l_like' %}
                        <option value="l_like" selected="selected">좋아요순</option>
                        <option value="l_new">최신순</option>
                        {% endif %}
                        {% if select == 'l_new' %}
                        <option value="l_like">좋아요순</option>
                        <option value="l_new" selected="selected">최신순</option>
                        {% endif %}
                    </optgroup>
                </select>

                {% for list in playlists %}
                    <div class="playlist"><a style="vertical-align: middle; line-height: 100px" href=".">{{ list.mp_name }}</a>/{{ list.user_fk.username }} / {{ list.mp_like }} / {{ list.list_pub_date }}
                    </div>
                {% endfor %}
            </div>
        </div>


    <div style="padding-top: 20px; float: left; margin-bottom: 10px;">
    <div class="selector">
        <div><a role="button" class="btn btn-outline-warning"  id="music_rank_btn">Top20</a></div>
        <div><a role="button" class="btn btn-outline-warning" href="/">list</a></div>
    </div>


</div>

{% endblock %}