
<div id="rank_list" style="overflow:scroll;">
    <select onchange='f_select(this)' name="f_select" class="form-select" style="width: auto; float: top;">
        <optgroup label="순서">
            {% if select == 'f_like' %}
            <option value="f_like" selected="selected">좋아요순</option>
            <option value="f_title">제목순</option>
            {% endif %}
            {% if select == 'f_title' %}
            <option value="f_like">좋아요순</option>
            <option value="f_title" selected="selected">제목순</option>
            {% endif %}
        </optgroup>
    </select>
    <div>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">노래제목</th>
                <th scope="col">좋아요</th>
            </tr>
            </thead>
            <tbody id="TbodyPart">

            {% for music in info_music %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ music.m_title }}</td>
                <td>{{ music.m_like }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
