<head>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="icon" href="static/favicon.ico">
    <script>
        const popup_width = 720;
        const popup_height = 600;
        const popup_x = (window.screen.width / 2) - (popup_width / 2);
        const popup_y = (window.screen.height / 2) - (popup_height / 2);

        $(function(event) {
            $('.delete_comment').on('click',function(event) {
                var id = $(this).attr('id');
                //alert(id);
                $.ajax({
                    url:'/music/delete_comment/' + id + '/',
                    type:'get',
                    dataType:'html',
                    success:function(html_playlist) {
                        //alert(html_playlist)
                        $("#list").empty();
                        {% comment %}$("#content").css('background-color','black'){% endcomment %}
                        $("#list").html(html_playlist);

                        },

                    error : function() {
                        alert('실패했어요!')
                    }
                })
            })
        })
    </script>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

    #box{
    overflow:scroll;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    padding-left: 30px;
    }

    #box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
    }

    body {
    background-color: black;
    }

    .form-control {
       width: 400px;
       height: 20px;
       background-color: white;
       border-top: none;
       border-left: none;
       border-right: none;
       border-bottom: 1px solid black;
       margin-bottom: 12px;
       right: 0;
       color: black;
       }

    table {
    border-spacing: 30 3px;
    text-align : left;
    vertical-align : left;
    }

    a {
    text-decoration: none;
    color: inherit;
    }


</style>
<div id="box">
    {% block html_body %}
    {% include 'music_detail/popup_login.html' %}

    <div id="content" style="padding-top: 40px">
        <!------- 제목 담당 --------->
        <div id="list_title" style="">
            <a href="/" style="text-decoration: none;"><h1 style="font-style: italic; font-size:30px; margin:0px; color:black; font-family: 'Gowun Dodum', sans-serif;">{{ playlists.mp_name }}</h1></a>
            {{ playlists.mp_like }}


            {% if user.is_authenticated %}
            {% if p_liked %}
            <a id="like_btn1" href="{% url 'music:playlist_like_toggle' playlists.id %}" role="button"
               class="btn btn-outline-primary"><img src="/static/heart-b.png" width="20px"></a>
            {% else %}
            <a id="like_btn2" href="{% url 'music:playlist_like_toggle' playlists.id %}" role="button"
               class="btn btn-outline-primary"><img src="/static/heart.png" width="20px"></a>
            {% endif %}
            {% else %}
            {% comment %}로그인 유도{% endcomment %}
            <a id="like_btn3" role="button" class="btn btn-outline-primary" >likes</a>
            {% endif %}
        </div>


        <!--------   노래 담당  ---------->
        <div id="music_list" class="overflow-auto" style="height: auto; margin: 30px 30px 40px 0px; padding:20px; border:1px solid black; border-radius: 5px;">
            {% for song in playlists.playlist_set.all %}
            <div>{{ forloop.counter }}. {{ song.music_fk.artist_fk.a_name }} : {{ song.music_fk.m_title }}
                <button type="button" class="play"
                        onclick="window.open('/music/musicvideo/{{ song.music_fk.m_videoCd }}/{{ song.music_fk.m_title }}/{{ song.music_fk.artist_fk }}/', 'video_popup', 'width=720, height=600, left='+popup_x+', top='+popup_y+'')"
                        style="background-color:black; border:none;"><img src="/static/play.png" width="13px"></button></div>

            {% endfor %}
        </div>


        <!------    댓글 담당    ------>
        <div id="comment" style="">
            {% if messages %}
            <span class="messages" style="color: red;">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </span>
            {% endif %}


            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for comment in playlists.playlistcomment_set.all %}
                <tr>
                    <td>{{ comment.user_fk }}</td>
                    <td style="margin-left: 10px;">{{ comment.c_contents }}</td>
                    {% if comment.user_fk == request.user %}
                    <td><a class="btn btn-outline-danger delete_comment" id={{ playlists.id }}>X</a> </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <form action="{% url 'music:create_comment' playlists.id %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    {% if user.is_authenticated %}
                    comment:<input type="text" class="form-control" placeholder=""
                                   aria-describedby="create_comment" name="content"
                                   style="margin-left:10px;">
                    <input type="submit" class="btn btn-outline-dark" value="" id="create_comment"
                           style="background-image: url(static/down.png) no-repeat 95% 50%; width:13px; height:13px;
                            background-repeat: no-repeat; background-color:black; border:none; margin-top:30px;">
                    {% else %}
                    <a class="form-control" id="modal_trigger" href="#popup_login"
                       style="display:block;height:46px;padding:4px 8px;border:1px solid #DDD;box-shadow:inset 1px 1px 4px rgba(0,0,0,.06);background:#FFF;text-decoration:none !important;color:#999 !important">로그인후 열람 가능합니다.</a>
                    {% endif %}
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}